<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
      
    <nav>
    <%= link_to "Kyle Yap", root_path, id: "logo" %>
    
    <%= image_tag ("panda-circle.png"), :class => "container-img" %>
    
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>